*{
	margin: 0;
	padding: 0;
}


.icon {
	background-color: yellow;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 100px;
}

.container {
	position: absolute;
	overflow: hidden;
	width: 200px;
	height: 250px;
	left: 45px;
}


.h {
	background-color: black;
	width: 62px;
	height: 130px;
	position: absolute;
	left: 45px;
	top: 45px;
	box-shadow: 100px 0 0 0, 100px 70px 0 0
}

.roquetTail {
	width: 350px;
	height: 300px;
	position: absolute;
	top: 65px;
	left: -50px;
	border-top: 70px solid black;
	border-radius: 0px 80% 0px 0px;
	transform: rotate(-65deg);
	box-shadow: 1px -4px 0 0 yellow, inset -1px 4px 0 0 yellow;
	z-index: 10;
}

.containerRoquet {
	position: absolute;
	overflow: hidden;
	width: 40px;
	height: 25px;
	top: 104px;
	left: 245px;
	border-radius: 7px;
	border-left: 4px solid yellow;
	z-index: 20;
}


.roquetHead {
	background-color: black;
	position: absolute;
	left: -50px;
	width: 90px;
	height: 25px;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;

}

.roquetWings {
	position: absolute;
	top: 97px;
	left: 205px;
	width: 50px;
	height: 37px;
	border-right: 8px solid black;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-radius: 40%;
}

