.logo {
    margin: auto;
    width: 150px;
    height: 150px;
    background: yellow;
    position: relative;
    border-radius: 5%;
    top: 80px;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    transition: background 500ms linear;
}

.cuadrado {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
}

.hache {
    margin-left: 40px;
    width: 40px;
    height: 120px;
    background: black;
    position: absolute;
    top: 15px;
    left: -20;
}

.hache.dos {
    left: 50px;
}

.hache.tres {
    border: 4px solid yellow;
    border-top-left-radius: 80%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    height: 250px;
    width: 28px;
    top: -30px;
    left: -35px;
    -moz-transform: scale(1) rotate(85deg) translateX(0px) skewX(20deg);
    -webkit-transform: scale(1) rotate(85deg) translateX(0px) skewX(20deg);
    -o-transform: scale(1) rotate(85deg) translateX(0px) skewX(20deg);
    -ms-transform: scale(1) rotate(85deg) translateX(0px) skewX(20deg);
    transform: scale(1) rotate(88deg) translateX(0px) skewX(20deg);
    z-index: 20
}

.hache.tres.bot {
    top: -9px;
    width: 29px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: yellow;
    -moz-transform: scale(1) rotate(80deg) translateX(0px) skewX(20deg);
    -webkit-transform: scale(1) rotate(80deg) translateX(0px) skewX(20deg);
    -o-transform: scale(1) rotate(80deg) translateX(0px) skewX(20deg);
    -ms-transform: scale(1) rotate(80deg) translateX(0px) skewX(20deg);
    transform: scale(1) rotate(80deg) translateX(0px) skewX(20deg);
    z-index: 10;
}

.parchecito {
    width: 4px;
    height: 3px;
    background-color: yellow;
    position: absolute;
    top: 53.4px;
    left: 130.8;
    z-index: 30;
}

.cohete {
    border-bottom: 3px solid yellow;
    width: 30px;
    height: 34px;
    position: absolute;
    overflow: hidden;
    -moz-transform: rotate(76deg);
    -webkit-transform: rotate(76deg);
    -o-transform: rotate(76deg);
    -ms-transform: rotate(76deg);
    transform: rotate(76deg);
    left: 140px;
    top: 39.8px;
    z-index: 20
}

.cuerpo {
    border: 3px solid yellow;
    border-top: 2px solid yellow;
    width: 17px;
    height: 55px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 4.5px;
    left: 4px;
}

.aleta {
    background-color: black;
    width: 7px;
    height: 8px;
    position: absolute;
}

.aleta.uno {
    border-top-left-radius: 10px;
    top: 22.5px;
    right: 16;
}
.aleta.dos {
    border-top-right-radius: 10px;
    top: 23px;
    left: 16px;

}

a {
    margin: auto;
}

a:link{
    color: black
}
a:visited {
    color:black;
}

.nombre {
    background-color: yellow;
    margin-right: auto;
    border-radius: 10%;
    padding-bottom: 5px;
    position: absolute;
    top: 175;
    left: 25px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.nombre:hover {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg)
    -webkit-box-shadow:inset 4px 1px 5px 3px rgba(0,0,0,0.2);
    box-shadow:inset 4px 1px 5px 3px rgba(0,0,0,0.2);
}